* {
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(195, 194, 194);
}

.formAddList {
  display: flex;
  gap: 5px;
}

.inputText {
  border-radius: 3px;
  outline-color: #61dafbaa;
  border-color: rgb(148, 148, 247);
}

.buttonList {
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-left: 2px;
}

.itemList {
  background-color: aliceblue;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  border-radius: 4px;
}


.itemList-task {
  
}



.buttonList:hover {
  cursor: pointer;
}

.buttonAdd-formAddList {
  background-color: #61fb61aa;
}

.btnDelete-List {
  background-color: #fb6161aa;
}

.btnModif-List {
  background-color: #61fb8daa;
}